body {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
nav {
  background-color: orangered;
}
p {
  color: #e86c31;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4 {
  color: rgb(11, 11, 139);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h5 {
  color: rgb(11, 11, 139);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img {
  height: 76%;
  width: 70%;
}
a {
  color: aliceblue;
}
#img {
  height: 1.7cm;
  width: auto;
  color: rgb(11, 11, 139);
}
